#titulo{
    font-size: 30px;
    color: black;
}

#parrafo{
    font-size: 25px;
    color: #c0c0c0;

}

#container{
    margin: 0 auto;
    text-align: left;
    padding: 1em;
    width: 70%;
    border: 1px solid black
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}